footer
  .container.text-center
    .pull-left
      | League Inhouse Tracker - 
      a(href="https://github.com/nomoid/LeagueInhouse") View on Github
      |  - Message zookham#5574 on Discord or submit a Github issue to report a bug
