mixin searchBar(idPrefix)
  form.form-inline.my-2.my-lg-0(method="POST",action="/stats")
    .input-group
      include ../util
      .input-group-prepend
        +gameModeSelector(idPrefix, true, false)
      input.form-control(type="search", name="summonerName", placeholder="Summoner Name")
      .input-group-addon
        button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search

nav.navbar.navbar-expand-xl.navbar-light.bg-light.fixed-top
  .container
    a.navbar-brand(href='/')
      i.fa.fa-trophy
      | League Inhouse Tracker
    .nav.navbar-nav.d-none.d-md-flex.d-xl-none
      +searchBar("searchBarMD")
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      .dropdown-divider
      ul.nav.navbar-nav.mr-auto
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
        li.nav-item(class=(title === 'Stats') ? 'active' : undefined)
          a.nav-link(href='/stats') Stats
        if user
          li.nav-item(class=(title === 'Upload Replay') ? 'active' : undefined)
            a.nav-link(href='/upload') Upload Replay
      .nav.navbar-nav.d-none.d-xl-flex
        +searchBar("searchBarXL")
      ul.nav.navbar-nav
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else
          li.nav-item.dropdown(class=(title === 'Account Management') ? 'active' : undefined)
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
              //- if user.profile.picture
              //-   img(src=user.profile.picture, alt=(user.profile.name || user.email || user.id))
              //- else
              img(src=user.gravatar(60), alt=(user.summonerName || user.username || user.id))
              span= user.summonerName || user.username || user.id
              i.caret
            ul.dropdown-menu
              li.nav-item
                a.nav-link(href='/account') My Account
              li.dropdown-divider
              li.nav-item
                a.nav-link(href='/logout') Logout
