extends layout

block content
  h1 League of Legends Inhouse Tracker
  p.lead Your one-stop shop for inhouse stats 
  hr
  p This site is currently under construction.
  p If you've been asked to be a beta tester, please create an account with the access code that you have been provided. Thanks for your participation!
  //- .row
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »
  //-   .col-sm-6
  //-     h2 Heading
  //-     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn.btn-secondary(href='#', role='button') View details »