
extends ../layout

block content
  h2 Upload Replay
  hr

  form.form-horizontal(method='POST', enctype='multipart/form-data')
    input(type='hidden', name='_csrf', value=_csrf)
    input(id='draft-result-blue', type='hidden', name='draftResultBlue', value='')
    input(id='draft-result-red', type='hidden', name='draftResultRed', value='')
    .form-group.row.justify-content-md-center
      p.offset-sm-3.col-sm-7 Please finish filling in the information for your uploaded replay:
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='mode') Was there a draft?
      .col-sm-7
        script.
          function checkDraft(value) {
              var element1 = document.getElementById("draft-row-1");
              var element2 = document.getElementById("draft-row-2");
              if (value === "draft") {
                  element1.style.display = "flex";
                  element2.style.display = "flex";
              }
              else {
                  element1.style.display = "none";
                  element2.style.display = "none";
              }
          }
        select.form-control#draftSelection(name="toDraft" onchange='checkDraft(this.value);', required)
          option(hidden, disabled, selected, value) Select an option
          option(value="draft") Yes
          option(value="nodraft") No/Unsure
    .form-group.row.justify-content-md-center(id="draft-row-1" style="display:none;")
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='draft') Draft
      ul.col-sm-1
        li.form-control.border-0 Pick
      ul.col-sm-3
        li.form-control
          label(for="draft-blue-radio") Blue Team (
          input(type="radio",id="draft-blue-radio", name="draft-radio", value="blue")
          label(for="draft-blue-radio") &nbsp;First Pick)
      ul.col-sm-3
        li.form-control
          label(for="draft-red-radio") Red Team (
          input(type="radio",id="draft-red-radio", name="draft-radio", value="red")
          label(for="draft-red-radio") &nbsp;First Pick)
    .form-group.row.justify-content-md-center(id="draft-row-2" style="display:none;")
      label.col-sm-3.col-form-label.text-right.font-weight-bold
      ul.col-sm-1
        li.form-control.border-0 Captain
        li.form-control.border-0 1st
        li.form-control.border-0 2nd
        li.form-control.border-0 3rd
        li.form-control.border-0 4th
      ul.col-sm-3(id="draft-blue-sortable")
        li.form-control(id="draft-blue1",data-id="blue1") Player 1
        li.form-control(id="draft-blue2",data-id="blue2") Player 2
        li.form-control(id="draft-blue3",data-id="blue3") Player 3
        li.form-control(id="draft-blue4",data-id="blue4") Player 4
        li.form-control(id="draft-blue5",data-id="blue5") Player 5
      ul.col-sm-3(id="draft-red-sortable")
        li.form-control(id="draft-red1",data-id="red1") Player 1
        li.form-control(id="draft-red2",data-id="red2") Player 2
        li.form-control(id="draft-red3",data-id="red3") Player 3
        li.form-control(id="draft-red4",data-id="red4") Player 4
        li.form-control(id="draft-red5",data-id="red5") Player 5
    .form-group.row.justify-content-md-center
      .offset-sm-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-upload
          | Upload
  script(src="/js/upload/continue.js")