extends ../layout

block content
  h2 Upload Replay
  hr

  style(type="text/css").
    #overlay {
      background: #ffffff;
      color: #666666;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 9999;
      top: 0;
      left: 0;
      float: left;
      text-align: center;
      padding-top: 25%;
      opacity: .80;
    }

  div(id="overlay", style="display:none;")
    div.spinner-border(role="status")
    div Uploading... (This may take a little while)

  form.form-horizontal(method='POST', enctype='multipart/form-data', onsubmit='showOverlay();')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row.justify-content-md-center
      p.offset-sm-3.col-sm-7 Please fill in all of the information below so we can keep track of accurate stats.
    .form-group.row.justify-content-md-center
      ul.offset-sm-3.col-sm-7 To find the replay file (.rofl):
        li Go to your "League client" -> "Profile" -> "Match History"
        li Click the "Download Replay" button 
        li Find the most recently modified replay file in the replay directory
        ul
          li Windows: The replay is located at "C:/Users/&lt;username&gt;/Documents/League of Legends/Replays"
          li Mac: The replay is located at "/Users/&lt;username&gt;/Documents/League of Legends/Replays"

    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='replay') Replay File (.rofl)
      .col-sm-7
        input.form-control(type='file', name='replay', id='replay', accept=".rofl", required)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='date') Date
      .col-sm-7
        input.form-control(type='date', name='date', id='date', value=today, required)
    .form-group.row.justify-content-md-center
      include ../util
      +gameModeSelector()
    .form-group.row.justify-content-md-center
      .offset-sm-3.col-sm-7
        script.
          function showOverlay() {
              var element = document.getElementById("overlay");
              $("#overlay").fadeIn();
          }
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-upload
          | Upload